version: "3.8"

services:
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    command:
      [
        "run",
        "--server.http.listen-addr=0.0.0.0:12345",
        "/etc/alloy/config.alloy",
      ]
    volumes:
      - ./observability/config.alloy:/etc/alloy/config.alloy
    ports:
      - 4317:4317
      - 12345:12345
    env_file:
      - .env
